<h1>Foster Homes</h1>
<form action="/foster_homes" method="post">
  <label for="username">Add Home</label>
  <input type="text" name="home" placeholder="Home Name">
  <input type="submit">
</form>
<br>
<% @homes.each do |home| %>
      <hr/>
      <div class="row">
        <div class="small-6 columns">
          <p><%= home["name"] %></p>
        </div>
        <div class="small-6 columns">
          <ul id="<%= home["id"] %>" class="button-group radius">
            <li><a href="/foster_homes/<%= home["id"] %>" class="button">See Reviews</a></li>
            <li><a href="/foster_homes/<%= home["id"] %>/review" class="button">Review</a></li>
          </ul>
        </div>
      </div>
<% end %>
