<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rate My Foster Home</title>
    <link rel="stylesheet" href="/css/foundation.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="/foster_homes">
            <img src="/logo.png" alt="Logo">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
              <%= flash[type] %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <script src="/js/vendor/jquery.js"></script>
    <% if ["youth", "parent", "worker"].include?(request.path.split("/").last) %>
    <script src="/js/vendor/jquery-ui.js"></script>
    <% end %>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
