<form action="/register" method="post">
  <fieldset>
    <legend>Register</legend>
    <input type="text" name="username" placeholder="Username" value="<%= @input["username"] %>">
    <input type="password" name="password" placeholder="Password" value="<%= @input["password"] %>">
    <input type="password" name="confirm_password" placeholder="Confirm Password" value="<%= @input["confirm_password"] %>">
    <input type="submit" class="login login-submit">
  </fieldset>
</form>
