.button {
  background-color: #58595B;
}

.button:hover {
  background-color: #96B647;
}

#review_box {
  height: 20em;
  margin-bottom: 2em;
  overflow-y: scroll;
}

#curve_chart {
  height: 33em;
  width: 100%;
}

img {
  width:10em;
  height: auto;
  margin-bottom: 1em;
}

span {
  font-size: 6pt;
}
