<ul class="stack button-group radius">
  <li><a href="/foster_homes/<%= @home_id %>/review/youth" class="button large black">Foster Youth</a></li>
  <li><a href="/foster_homes/<%= @home_id %>/review/parent" class="button large">Foster Parent</a></li>
  <li><a href="/foster_homes/<%= @home_id %>/review/worker" class="button large">Social Worker</a></li>
  <li><a href="/foster_homes" class="button large">Home</a></li>
</ul>
