<hr/>
<h3>Thank you for submitting your response! We care about your voice and ensuring your foster care experience is going well!</h3>
<a href="<%= request.path.split('/')[0..-3].join('/') %>" class="button expand">Go Back To Review Forms</a>
